NODE_ENV="development"
PORT="3000"

CORS_ORIGIN="http://localhost:5173"

# MongoDB Connection String
MONGO_URI=
MONGO_DB_NAME=

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d