NODE_ENV="development"
PORT="3000"

CORS_ORIGIN=http://localhost:5173,http://localhost:80,http://localhost

# MongoDB Connection String
MONGO_URI=
MONGO_DB_NAME=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d